.comment-input-container {
    display: flex;
    gap: 10px;
    width: inherit;
    justify-content: center;
}

.post-details-comment-container {
    border: #ccc solid 1px;
    padding: 10px;
}

.all-comments-container {
    width: inherit;
}

.post-comment-form {
    display: flex;
    padding: 10px;
    width: 100%;
    align-items: center;
    border: 1px solid #ccc;
}

.comment-input-profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.post-comment-form-input {
    height: 70px;
    padding-left: 10px;
    background: #fff;
    border: none;
    color: #333;
    outline: none;
    width: 300px;
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    transition: border 0.3s;
    width: 100%;
}

.options-container {
    position: relative;
}

.comments-post-details-whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

.user-img-username-container {
    display: flex;
    align-items: center;
}


@media screen and (max-width:600px) {
    .post-comment-form {
        width: 100%;
    }

    .menu-content-posts {
        right: 3px;
    }
}
