.nav-links-container-artist {
    background-color: #e6e6e656;
    text-decoration: none;
    border-bottom: lightgrey solid 1px;
    text-decoration: none;
    list-style: none;
}

.inner-nav-links {
    background-color: #f7f7f7;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    height: 100%;
}

.inner-navlink-container {
    height: 100%;
    width: 100%;
}

.nav-link-container-nav {
    /* padding: 2px 15px 0px; */
    padding: 10px 60px;
}

.nav-link-container-nav:hover {
    background-color: #e6e6e656;

}

.navlinks {
    text-decoration: none;
    color: black;
}
