.all-posts-page-container {
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    background-color: rgba(210, 215, 215, 0.19);
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
    background-color: rgba(210, 215, 215, 0.19);
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
}

.all-posts-feed-post-box-container {
    width: 80%;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140

.all-posts-post-box-container {
    padding: 22px 22px;
}
<<<<<<< HEAD
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
