.post-modal-whole {
    border: 1px solid lightgrey;
    padding: 10px 12px;
    /* width: 600px;
    height: 300px; */
    margin-bottom: 20px;
}

.post-input {
    border: none;
    font-size: 20px;
    background-color: white;
}

.post-input:focus {
    border: none;
}


.image-preview {
    width: 100%;
    height: inherit;
    max-height: 300px;
    border-radius: 15px;
}

.image-preview-container {
    position: relative;
    max-width: 500px;
    max-height: 300px;
}

.outer-container-for-x-button {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
}

.inner-container-for-x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #1C2026;
    box-shadow: rgba(128, 128, 128, 0.393) 0px 0px 1px 1px;
    border-radius: 20px;
}

.outer-container-for-x-button:hover {
    cursor: pointer;
}

.image-upload-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.image-upload-container:hover {
    transition-duration: 300ms;
    transition-property: background-color;
    background-color: #4c73e731;
}

.upload-image-svg:hover {
    cursor: pointer;
}

.delete-image {
    display: none;
}

.inner-container-for-x-button:hover {
    transition-duration: 500ms;
    transition-property: box-shadow;
    box-shadow: none;
}

.delete-imageactive {
    position: absolute;
    right: 100;
}

.post-action-buttons-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-button {
    padding: 5px 12px;
    width: 90px;
    height: 37px;
    background-color: #4C72E7;
    border: none;
    border-radius: 30px;
    color: white;
}

.post-button:hover {
    cursor: pointer;
}
