.genre-tab-active {
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 8px 60px;
    border: none;
}

.genre-tab {
    border: 1px solid rgba(128, 128, 128, 0.272);
    border-radius: 10px;
    padding: 8px 60px;
    background-color: white;

}

.genre-tab:hover {
    border: 1px solid black;
}

.tabs-container-landing-page {
    display: flex;
    overflow-x: scroll;
    padding: 10px 0px;
    gap: 10px;
    flex-wrap: wrap;
}
