.follower-image {
    height: 100px;
    width: 100px;
}

.follower-container {
    display: flex;
    gap: 10px;
}

.follower-tab-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

@media screen and (max-width:600px) {
    .follower-tab-container {
        grid-template-columns: 1fr 1fr;
    }

    .follower-image {
        height: 50px;
        width: 50px;
    }
}
