.profile-header-album-cover {
    height: 100px;
    width: 100px;
}

.profile-header-image {
    height: 150px;
    width: 110px;
}

.profile-header-follow-button-active {
    background-color: black;
    color: white;
}
