.profile-header-album-cover {
<<<<<<< HEAD
<<<<<<< HEAD
    height: 100px;
    width: 100px;
=======
    height: 120px;
    width: 120px;
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
    height: 120px;
    width: 120px;
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
}

.profile-header-image {
    height: 150px;
<<<<<<< HEAD
<<<<<<< HEAD
    width: 110px;
    margin-top: 35px;
}

.album-container-profile-header {
=======
    width: 120px;
}

.album-container-profile-header {
    padding: 8px;
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
    width: 120px;
}

.album-container-profile-header {
    padding: 8px;
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header-container-whole {
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
=======
    gap: 10px;
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
    gap: 10px;
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.all-albums-profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container-album-details {
    display: flex;
}

.profile-header-follow-button-active {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: black;
=======
    background-color: #6888EA;
    border: none;
    border-radius: 3px;
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
    color: white;
    padding: 6px 12px;
}

<<<<<<< HEAD
.profile-header-follow-button {
    padding: 6px 20px;
=======
    background-color: #6888EA;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px 12px;
}

=======
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
.artist-bio-profile-headers-more {
    color: #6888EA;
    font-size: 12px;
    text-align: right;
}

.artist-bio-profile-headers {
    font-size: 13px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    max-width: 120px;
}

.artist-bio-profile-headers-open {
    font-size: 13px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    max-width: 120px;
}


.profile-header-follow-button {
    background-color: white;
    border: 1px solid #6888EA;
    border-radius: 3px;
    color: #6888EA;
    padding: 6px 12px;
<<<<<<< HEAD
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
}
