<<<<<<< HEAD
<<<<<<< HEAD
.post-profile-picture {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.post-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
=======
.post-container {
    border-bottom: 1px solid lightgrey;
    /* border-bottom: 1px solid black; */
>>>>>>> 207fad1617ac56749c0160b847c7270a1a1343a3
=======
.post-container {
    border-bottom: 1px solid lightgrey;
    /* border-bottom: 1px solid black; */
>>>>>>> 7b101935324880b3d94c82a8fe5a306252da7140
}
