.post-textarea {
    background: #FFFFFFFF;
    /* white */
    border-radius: 0px;
    box-shadow: 0px 4px 9px #999ea7, 0px 0px 2px #868c97;
    /* shadow-m */
    resize: none;
}

#post-text-input {
    border: none;
    height: 56px;
    width: 100%;
    resize: none;
}

#post-text-input:focus {
    outline: none;
}

.post-button-container-post-text-box {
    display: flex;
    justify-content: flex-end;
}

.post-button-post-text-box {
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Body */
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFFFF;
    background: #1C49D0FF;
    opacity: 1;
    border: none;
    border-radius: 4px;
}
